.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(71, 150, 125, 0.2);
  transition: 0.5s;
  width: 250px;
  border-radius: 5px;
  margin: 32px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(252, 126, 0, 0.6);
  cursor: pointer;
}

img {
  border-radius: 5px 5px 0 0;
  height: 250px;
  width: 250px;
}

.cardContent,
.cardFooter {
  background-color: #464615;
  padding: 2px 16px;
      }

.items {
  display: flex;
  flex-wrap: wrap;
}
h1{
  color: aqua;
}
h1:hover{
  text-shadow: 0 8px 16px rgba(252, 126, 0, 0.6);
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
